img {
  width: 150px;
  height: auto;
}

img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

input[type=text]{
  color: white;
  background-color: none;
  border: none;
}

.title {
  position: absolute;
  top: 0; left: 0;
  background-color: #00B3E6;
  height: 25vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  color: white;
  font-family: sans-serif;
  letter-spacing: 1vw;
  text-transform: uppercase;
}

.book-form {
  position: absolute;
  top: 23vh; left: 0;
  margin-bottom: 2vh;
  background-color: #00B3E6;
  height: 5vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.book-container {
  margin-top: 30vh;
  display: flex;
  flex-direction: row;
}

.book-shelf {
  text-align: center;
  margin: 10px;
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.book-list h1, .book-shelf h1 {
  color: #00B3E6;
  font-family: sans-serif;
  letter-spacing: .8vw;
  text-transform: uppercase;
}

.book-list {
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 50vw;
}
