
.book-container {
  display:flex;
}

.book-list {
  width: 40%
}

.bookshelf {
  width: 40%;
  font-size: .8em;
}

.book-list img{
  width: 20%
}

.bookshelf ul{
  display: flex;
  flex-wrap: wrap;
}

.bookshelf ul .book{
  width: 20%;
  height: 20%;
}

.bookshelf img {
  width: 50%
}
